/* 
  ================
  COMPONENT STYLES
  ================
*/

/* MainDisplay */

#main-content {
  width: 1000px;
  padding: 20px 30px;
  margin: auto;
}

#main-partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 25px;
}

h1.title {
  text-align: center;
  font-size: 24pt;

  padding-bottom: 25px;
}

/* PartnerTile */

.partner-tile {
  width: 450px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #3d3d3d;
  border-radius: 12px;

  padding: 25px;
}

.partner-thumbnail {
  max-width: 330px;
  max-height: 150px;
}

.partner-info {
  font-size: 0.9em;
}

.AddPartnerForm {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.subheader {
  font-size: 24px;
  margin-bottom: 10px;
}

.submission-box {
  display: flex;
  flex-direction: column;
}

.submission-box-text-inputs {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0f9e2a;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #03450f;
;
}
